version: '2'
services:
  nginx:
    image: nginx
    restart: always 
    ports:
      - "8081:80"
    volumes:
      - ./public:/usr/share/nginx/html
      - ./conf.d:/etc/nginx/conf.d
      - /var/log/jsnote:/var/log/nginx
