version: '2'
services:
  node:
    image: node 
    restart: always 
    volumes:
      - ./src:/usr/src
      - ./public/sample:/usr/share/sample
    working_dir: '/usr/src'
    command: npm start
    networks:
      - default
  nginx:
    image: nginx
    restart: always 
    volumes:
      - ./public:/usr/share/nginx/html
      - ./conf.d:/etc/nginx/conf.d
      - /var/log/jsnote:/var/log/nginx
    networks:
      - neco_link
      - default
networks:
  neco_link:
    external: true 

