version: '2'
services:
  api:
    image: node:alpine
    restart: always 
    volumes:
      - ./src:/usr/src
      - ./sample:/usr/share/nginx/html/sample
      - /var/log/jsnote:/var/log/node
    working_dir: '/usr/src'
    command: npm start
    networks:
      - default
  web:
    image: nginx:alpine
    restart: always 
    volumes:
      - ./public:/usr/share/nginx/html
      - ./sample:/usr/share/nginx/html/sample
      - ./conf.d:/etc/nginx/conf.d
      - /var/log/jsnote:/var/log/nginx
    networks:
      - neco_link
      - default
networks:
  neco_link:
    external: true

