h1 {
  color: #3e5358;
  margin: 0;
}

.menutab{
  display: flex;
  list-style: none;
  margin: 0;
  border-bottom: 5px solid #1495b5;
  padding: 0;
  position: relative;
}
.menutab > li.run {
  color: #3e5358;
  font-size: 16pt;
  border-radius: 6px 6px 0px 0px;
  border: 1px solid #1495b5;
  padding: 0px 20px 0px 20px;
}
.menutab > li.run:hover {
  background: #1495b5;
  color: #F5FFFA;
  transition: 1.2s;
  /*background: #F5FFFA;*/
  cursor: pointer;
}
.menutab > li.run >a:hover {
  cursor: pointer;
 }



.sidebyside{
  display: flex;
  list-style: none;
}
.sidebyside > li{
  padding: 0px 5px 0px 0px;
  color: #3e5358;
}
