*{
  margin: 0;
}
body{
  margin: 0;
  border-left: 2px solid #708090;
  border-right: 2px solid #708090;
}
#container {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}
header {
}
main {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}
main > article {
  flex: 1;
}
.header {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header > li > h1 {
  color: #3e5358;
  margin: 0;
  padding: 0px 10px ;
}

.header > li:not(:first-child) {
  color: #3e5358;
  border-radius: 1px;
  border: 1px solid #1495b5;
  border-radius: 6px 6px 6px 6px;
  margin: 10px 20px 10px 50px;
  padding: 1px 10px 1px 10px;
}

.header > li:not(:first-child):hover {
  background: #1495b5;
  color: #F5FFFA;
  transition: 1.2s;
  cursor: pointer;
}
.menutab{
  display: flex;
  list-style: none;
  margin: 0;
  border-bottom: 5px solid #1495b5;
  padding: 0px 2px;
  position: relative;
}
.menutab > li.run {
  color: #3e5358;
  font-size: 16pt;
  border-radius: 6px 6px 0px 0px;
  border: 1px solid #1495b5;
  padding: 0px 20px 0px 20px;
}
.menutab > li.run:hover {
  background: #1495b5;
  color: #F5FFFA;
  transition: 1.2s;
  cursor: pointer;
}
.menutab > li.run >a:hover {
  cursor: pointer;
 }



.sidebyside{
  display: flex;
  list-style: none;
}
.sidebyside > li{
  padding: 0px 5px 0px 0px;
  color: #3e5358;
}
.main {
  position: relative;
}
#editor {
  z-index: 0;
  height:100%;
}
#drawArea {
  position: absolute;
  height:100%;
  margin: 0px;
  padding: 0px;
  top: 0px;
  right: 0px;
  width: 60%;
  z-index: 1;
  background: #FFFFFF;
  border-left: 2px solid #1495b5;
}
#sampleArea {
  position: absolute;
  opacity: 0.9; 
  height:80%;
  margin: 0px;
  padding: 0px;
  top: 50px;
  left: 50px;
  width: 80%;
  z-index: 2;
  background: #FFFFFF;
  border: 1px solid #1495b5;
  border-radius: 20px 20px 20px 20px;
}

.display {
  display: block;
}
.not_display {
  display: none;
}
.ongoing {
  background: #1495b5;
  color: #F5FFFA;
}

footer{
  display: flex;
  background: #d9dfe1;
  margin:0;
  padding:0;
  border-top: 1px solid #708090;
}
footer > small{
  flex: 0 0 85%;
  text-align: center;
}
